### Deliverable 1: Preprocessing the Data for a Neural Network

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df1 = pd.read_csv("Resources/charity_data.csv")
application_df1.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# application_df1.info()

In [3]:
# application_df2["IS_SUCCESSFUL"].unique()

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df2 = application_df1.drop(columns=["EIN", "NAME"])
application_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [5]:
# Determine the number of unique values in each column.
application_df2_cat = application_df2.dtypes[application_df2.dtypes == "object"].index.tolist()
application_df2[application_df2_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
counts_apptype = application_df2.APPLICATION_TYPE.value_counts()
counts_apptype

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Visualize the value counts of APPLICATION_TYPE
# counts_apptype.plot.density()

In [8]:
# Determine which values to replace if counts are less than ...?
replace_apptype = list(counts_apptype[counts_apptype < 500].index)

# Replace in dataframe
for app in replace_apptype:
    application_df2.APPLICATION_TYPE = application_df2.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df2.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
counts_class = application_df2.CLASSIFICATION.value_counts()
counts_class

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# Visualize the value counts of CLASSIFICATION
# counts_class.plot.density()

In [11]:
# Determine which values to replace if counts are less than ..?
replace_class = list(counts_class[counts_class < 1880].index)

# Replace in dataframe
for cls in replace_class:
    application_df2.CLASSIFICATION = application_df2.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df2.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
# Generate our categorical variable lists
application_df2_cat = application_df2.dtypes[application_df2.dtypes == "object"].index.tolist()
application_df2[application_df2_cat].nunique()

APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            6
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [13]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df2[application_df2_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(application_df2_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Merge one-hot encoded features and drop the originals
application_df3 = application_df2.merge(encode_df,left_index=True, right_index=True)
application_df4 = application_df3.drop(application_df2_cat,1)
application_df4.head()

C:\Users\LaStella\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [15]:
application_df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATUS                        34299 non-null  int64
 1   ASK_AMT                       34299 non-null  int64
 2   IS_SUCCESSFUL                 34299 non-null  int64
 3   APPLICATION_TYPE_Other        34299 non-null  float64
 4   APPLICATION_TYPE_T10          34299 non-null  float64
 5   APPLICATION_TYPE_T19          34299 non-null  float64
 6   APPLICATION_TYPE_T3           34299 non-null  float64
 7   APPLICATION_TYPE_T4           34299 non-null  float64
 8   APPLICATION_TYPE_T5           34299 non-null  float64
 9   APPLICATION_TYPE_T6           34299 non-null  float64
 10  APPLICATION_TYPE_T7           34299 non-null  float64
 11  APPLICATION_TYPE_T8           34299 non-null  float64
 12  AFFILIATION_CompanySponsored  34299 non-null  float64
 13  AFFILIATION_Family/Parent     34299 non-null  float64
 14  AFFILIATION_Independent       34299 non-null  float64
 15  AFFILIATION_National          34299 non-null  float64
 16  AFFILIATION_Other             34299 non-null  float64
 17  AFFILIATION_Regional          34299 non-null  float64
 18  CLASSIFICATION_C1000          34299 non-null  float64
 19  CLASSIFICATION_C1200          34299 non-null  float64
 20  CLASSIFICATION_C2000          34299 non-null  float64
 21  CLASSIFICATION_C2100          34299 non-null  float64
 22  CLASSIFICATION_C3000          34299 non-null  float64
 23  CLASSIFICATION_Other          34299 non-null  float64
 24  USE_CASE_CommunityServ        34299 non-null  float64
 25  USE_CASE_Heathcare            34299 non-null  float64
 26  USE_CASE_Other                34299 non-null  float64
 27  USE_CASE_Preservation         34299 non-null  float64
 28  USE_CASE_ProductDev           34299 non-null  float64
 29  ORGANIZATION_Association      34299 non-null  float64
 30  ORGANIZATION_Co-operative     34299 non-null  float64
 31  ORGANIZATION_Corporation      34299 non-null  float64
 32  ORGANIZATION_Trust            34299 non-null  float64
 33  INCOME_AMT_0                  34299 non-null  float64
 34  INCOME_AMT_1-9999             34299 non-null  float64
 35  INCOME_AMT_10000-24999        34299 non-null  float64
 36  INCOME_AMT_100000-499999      34299 non-null  float64
 37  INCOME_AMT_10M-50M            34299 non-null  float64
 38  INCOME_AMT_1M-5M              34299 non-null  float64
 39  INCOME_AMT_25000-99999        34299 non-null  float64
 40  INCOME_AMT_50M+               34299 non-null  float64
 41  INCOME_AMT_5M-10M             34299 non-null  float64
 42  SPECIAL_CONSIDERATIONS_N      34299 non-null  float64
 43  SPECIAL_CONSIDERATIONS_Y      34299 non-null  float64
dtypes: float64(41), int64(3)
memory usage: 11.5 MB

In [16]:
# Split our preprocessed data into our features and target arrays
y = application_df4["IS_SUCCESSFUL"].values
X = application_df4.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\LaStella\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
# y
# X

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Deliverable 2: Compile, Train and Evaluate the Model

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 5
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(
        units=hidden_nodes_layer1, 
        input_dim=number_input_features, 
        activation="relu")
        )

# Second hidden layer
nn.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, 
    activation="relu")
        )

# Output layer
nn.add(tf.keras.layers.Dense(
    units=1, 
    activation="sigmoid")
      )

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 220

 dense_1 (Dense)             (None, 5)                 30

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 256
Trainable params: 256
Non-trainable params: 0
_________________________________________________________________

# Compile the model
nn.compile(
    loss="binary_crossentropy", 
    optimizer="adam", 
    metrics=["accuracy"]
)

# Train the model
fit_model = nn.fit(X_train,y_train,epochs=1)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [20]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [21]:
# Compile the model
nn.compile(
    loss="binary_crossentropy", 
    optimizer="adam", 
    metrics=["accuracy"]
)

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath = checkpoint_path,
    verbose = 1,
    save_weights_only = True,
    period=5,
    save_freq='epoch')

# Train the model
fit_model = nn.fit(
    X_train_scaled,
    y_train,
    epochs=50,
    callbacks=[cp_callback]
)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(
    X_test_scaled,
    y_test,
    verbose = 2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6332 - accuracy: 0.6783
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5894 - accuracy: 0.7245
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5783 - accuracy: 0.7280
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5744 - accuracy: 0.7280
Epoch 5/50
796/804 [============================>.] - ETA: 0s - loss: 0.5724 - accuracy: 0.7294
Epoch 5: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5726 - accuracy: 0.7292
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5712 - accuracy: 0.7298
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5700 - accuracy: 0.7306
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5692 - accuracy: 0.7308
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5688 - accuracy: 0.7306
Epoch 10/50
797/804 [============================>.] - ETA: 0s - loss: 0.5681 - accuracy: 0.7315
Epoch 10: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5680 - accuracy: 0.7315
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5678 - accuracy: 0.7318
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5675 - accuracy: 0.7321
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5672 - accuracy: 0.7315
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5650 - accuracy: 0.7329
Epoch 15/50
790/804 [============================>.] - ETA: 0s - loss: 0.5645 - accuracy: 0.7324
Epoch 15: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5643 - accuracy: 0.7323
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5639 - accuracy: 0.7329
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5635 - accuracy: 0.7321
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5631 - accuracy: 0.7324
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5632 - accuracy: 0.7329
Epoch 20/50
789/804 [============================>.] - ETA: 0s - loss: 0.5625 - accuracy: 0.7329
Epoch 20: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5628 - accuracy: 0.7325
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5628 - accuracy: 0.7338
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5625 - accuracy: 0.7329
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5623 - accuracy: 0.7329
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5621 - accuracy: 0.7319
Epoch 25/50
799/804 [============================>.] - ETA: 0s - loss: 0.5620 - accuracy: 0.7323
Epoch 25: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5619 - accuracy: 0.7325
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5615 - accuracy: 0.7327
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5618 - accuracy: 0.7334
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5616 - accuracy: 0.7330
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5616 - accuracy: 0.7338
Epoch 30/50
787/804 [============================>.] - ETA: 0s - loss: 0.5619 - accuracy: 0.7332
Epoch 30: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5614 - accuracy: 0.7338
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5616 - accuracy: 0.7329
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5614 - accuracy: 0.7336
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5615 - accuracy: 0.7336
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5612 - accuracy: 0.7336
Epoch 35/50
782/804 [============================>.] - ETA: 0s - loss: 0.5613 - accuracy: 0.7329
Epoch 35: saving model to checkpoints\weights.35.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5614 - accuracy: 0.7329
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5614 - accuracy: 0.7342
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5613 - accuracy: 0.7332
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5613 - accuracy: 0.7337
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5612 - accuracy: 0.7341
Epoch 40/50
795/804 [============================>.] - ETA: 0s - loss: 0.5612 - accuracy: 0.7333
Epoch 40: saving model to checkpoints\weights.40.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5611 - accuracy: 0.7331
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5610 - accuracy: 0.7335
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5610 - accuracy: 0.7330
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5611 - accuracy: 0.7336
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5609 - accuracy: 0.7339
Epoch 45/50
801/804 [============================>.] - ETA: 0s - loss: 0.5614 - accuracy: 0.7325
Epoch 45: saving model to checkpoints\weights.45.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5611 - accuracy: 0.7327
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5608 - accuracy: 0.7339
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5610 - accuracy: 0.7333
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5611 - accuracy: 0.7341
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5610 - accuracy: 0.7334
Epoch 50/50
790/804 [============================>.] - ETA: 0s - loss: 0.5615 - accuracy: 0.7331
Epoch 50: saving model to checkpoints\weights.50.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5610 - accuracy: 0.7335
268/268 - 0s - loss: 0.5703 - accuracy: 0.7262 - 482ms/epoch - 2ms/step
Loss: 0.5703461170196533, Accuracy: 0.7261807322502136

In [22]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization_1.h5")